{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Image Difference</h1>
  <p class="lead">Stack your images and flatten them into a single image!</p>
  <hr class="my-4">
  <p>Powered by NumPY and Django</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Convert a image</a>
    <a class="btn btn-primary btn-lg" href="https://tylery.org" role="button">Author Home Page</a>
  </p>
</div>
<div class="container" id="convert">
  {% if img_object %}
    <div class="card" style="width: 18rem;">
        <a href="{{ img_object.result.url }}"><img class="card-img-top" src="{{ img_object.result.url }}"></a>
        <p class="card-body">Uploaded using {{ img_object.images_used }} images</p>
        <p class="card-text ml-1"><small class="text-muted">Uploaded on {{ img_object.submitted | date:'l jS' }}</small></p>
    </div>
  {% else %}
    <form action="{% url 'home' %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {% bootstrap_form new_image_form layout='inline' %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
    </form>
  {% endif %}
</div>
{% endblock %}