{% extends 'base.html' %}
{% load bootstrap4 %}
{% comment %}
Variables needed:
 * related_images | ImageUnit models of all related images
{% endcomment %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container fluid">
  <div class="jumbotron">
    <h1 class="display-4">Images Difference</h1>
    <p class="lead">Stack your images and flatten them into a single image!</p>
    <hr class="my-4">
    <p>Powered by NumPY and Django</p>
  </div>
</div>
<div class="container" id="convert">
    <div class="container float-left d-inline-flex">
        <form action="{% url 'home' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% bootstrap_form new_image_form layout='inline' %}
            {% buttons %}
            <button id="add-image-button" type="submit" class="btn btn-primary" disabled>Submit</button>
            <span id="add-image-error-message" class="d-none" style="color: red">Error message</span>
            {% endbuttons %}
        </form>
    </div>
</div>
{% with img_object=related_images|first %}
{% if img_object %}
<div class="container center">
    <div class="row">
    <div class="col">
        <figure>
            <a href="{{ img_object.result.url }}"><img class="w-100" src="{{ img_object.result.url }}"
                 alt="{{ img_object.conversion }} conversion using {{ img_object.images_used }} images on {{ img_object.submitted | date:'l jS' }}"></a>
            <figcaption>{{ img_object.conversion }} conversion using {{ img_object.images_used }} images on {{ img_object.submitted | date:'l jS' }}</figcaption>
        </figure>
    </div>
    </div>
</div>
{% endif %}
{% endwith %}
{% if related_images %}
<div class="container">
    <div class="row row-cols-lg-2 row-cols-md-3 row-cols-1">
        {% for img_object in related_images %}
        {% if not forloop.first %}
        <div class="col">
            <figure>
                <a href="{{ img_object.result.url }}"><img class="w-100" src="{{ img_object.result.url }}"
                     alt="{{ img_object.conversion }} conversion using {{ img_object.images_used }} images on {{ img_object.submitted | date:'l jS' }}"></a>
                <figcaption>{{ img_object.conversion }} conversion using {{ img_object.images_used }} images on {{ img_object.submitted | date:'l jS' }}</figcaption>
            </figure>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}