{% extends 'base.html' %}
{% load bootstrap4 %}

{% comment %}
Variables needed:
 * related_images | ImageUnit models of all related images
{% endcomment %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container fluid">
  <div class="jumbotron">
    <h1 class="display-4">Image Difference</h1>
    <p class="lead">Stack your images and flatten them into a single image!</p>
    <hr class="my-4">
    <p>Powered by NumPY and Django</p>
  </div>
</div>
<div class="container" id="convert">
  <form action="{% url 'home' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% bootstrap_form new_image_form layout='inline' %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
  </form>
</div>
{% with img_object=related_images|first %}
{% if img_object %}
<div class="container center">
  <div class="row">
    <div class="card col">
      <a href="{{ img_object.result.url }}"><img class="card-img-top" src="{{ img_object.result.url }}"></a>
      <p class="card-body">{{ img_object.conversion }} using {{ img_object.images_used }} images</p>
      <p class="card-text ml-1"><small class="text-muted">Uploaded on {{ img_object.submitted | date:'l jS' }}</small></p>
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
{% if related_images %}
<div class="container">
  <div class="row row-cols-lg-2 row-cols-md-3 row-cols-1">
  {% for img_object in related_images %}
  {% if not forloop.first %}
      <div class="card col">
        <a href="{{ img_object.result.url }}"><img class="card-img-top" src="{{ img_object.result.url }}" loading="lazy"></a>
        <p class="card-body">{{ img_object.conversion}} using {{ img_object.images_used }} images</p>
        <p class="card-text ml-1"><small class="text-muted">Uploaded on {{ img_object.submitted | date:'l jS' }}</small></p>
      </div>
   {% endif %}
   {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}