:{$PORT} {
#   log
    handle /uploads/* {
        root * /app/data
        file_server
    }
    handle /static/* {
        root * /app/data
        file_server
    }
    handle {
        reverse_proxy localhost:35252
    }
}
