{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hi {{ user.username | title }},</h1>
        {% if related_images %}
        <p class="lead">You have {{ related_images | length }} images, nice! </p>
        <p class="lead">Create another one <a href="{% url 'home' %}">here!</a></p>
        {% else %}
        <p class="lead">No images uploaded yet?</p>
        <p class="lead">That's ok, <a href="{% url 'home' %}">Create one here!</a></p>
        {% endif %}
    </div>
</div>
{% if related_images %}
<div class="container">
    <div class="row row-cols-lg-2 row-cols-md-3 row-cols-1">
        {% for img_object in related_images %}
        <div class="col">
            <figure>
                <a href="{{ img_object.result.url }}"><img class="w-100" src="{{ img_object.result.url }}"
                                                           alt="{{ img_object.conversion }} conversion using {{ img_object.images_used }} images on {{ img_object.submitted | date:'l jS' }}"></a>
                <figcaption>{{ img_object.conversion }} conversion using {{ img_object.images_used }} images on {{ img_object.submitted | date:'l jS' }}</figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="container">
    <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
</div>
{% endblock %}